# Sensitive files - DO NOT COMMIT!
.env
/etc/nginx/ssl/
*.pem # Catches all .pem files, including private keys
*.key # Catches all .key files, including private keys

# Python compiled files
__pycache__/
*.pyc

# Virtual environment (if you ever use one locally outside Docker)
.venv/
venv/
env/

# Docker related files
*.log # General log files
 volumes/ # Uncomment this if you want to keep Docker volumes out of git (recommended for dev/prod data)
